!!!
%head
  %link(href='css/application.css' rel='stylesheet' type='text/css')
  %meta(name="viewport" content="width=device-width, initial-scale=1")

%body.container
  .jumbotron
    %h1 Osmosis
    %p An experiment in passively training your musical ear.

  #app

  %script(type='text/javascript' src='js/application.js')
