!!!
%head
  %link(href='css/application.css' rel='stylesheet' type='text/css')
  %script(type='text/javascript' src='js/goog/base.js')
  %script(type='text/javascript' src='js/application.js')

%body
  %h1 Osmosis!
