!!!
%head
  %link(href='css/application.css' rel='stylesheet' type='text/css')
  %script(type='text/javascript' src='js/goog/base.js')
  %script(type='text/javascript' src='js/application.js')

%body.container
  .jumbotron
    %h1 Osmosis
    %p An experiment in passively training your musical ear.

  #app

  %script(type='text/javascript') goog.require('osmosis.core')
